<div>
  <form nz-form [formGroup]="formGroup">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="category_id">Categoria Pai</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione..." formControlName="category_id">
          <nz-option *ngFor="let category of categoriesCollection$ | async" [nzLabel]="category.title" [nzValue]="category.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired>Título</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Informe o título!">
        <input nz-input formControlName="title">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Descrição</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Informe o nome!">
        <textarea rows="4" nz-input formControlName="description"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status">Status</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-switch formControlName="status" nzCheckedChildren="Ativo" nzUnCheckedChildren="Inativo"></nz-switch>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="cancel()">Cancelar</button>
  <button nz-button nzType="primary" [nzLoading]="isLoading$ | async" (click)="saveCategory()">Salvar</button>
</div>
