.header-button-content {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    align-items: baseline;
    margin-bottom: 16px;

    > .header-title {
        > .title {
            font-family: 'Poppins', sans-serif;
            font-weight: normal;
        }
    }

    > .header-buttons {
        > .button {
            margin-left: 8px;
        }
    }
}
