<div class="store-home-container">
  <div class="item" *ngFor="let product of products">
    <div class="midia">
      <img [src]="product?.file?.url" alt="product?.title" />
    </div>
    <h1 (click)="clickProduct.emit(product)">{{ product?.title }}</h1>
    <div class="item-footer">
      <div class="item-amount">
        <span class="was">
          {{ product?.price | currency: 'BRL':'symbol' }}
        </span>
        <span class="now">
          {{ product?.price | currency: 'BRL':'symbol' }}
        </span>
      </div>
      <div class="item-conditions">
        <span class="cash">à vista no cartão</span>
        <span class="parceled">ou em 12x de {{ (product?.price / 12) | currency: 'BRL':'symbol' }}</span>
      </div>
    </div>
  </div>
</div>
