<div class="footer-wrapper">
  <div class="container">
    <div class="footer-item">
      <h1>Sobre</h1>
      <ul>
        <li>Menu 1</li>
        <li>Menu 2</li>
        <li>Menu 3</li>
        <li>Menu 4</li>
      </ul>
    </div>
    <div class="footer-item">
      <h1>Menu</h1>
      <ul>
        <li>Menu 1</li>
        <li>Menu 2</li>
        <li>Menu 3</li>
        <li>Menu 4</li>
      </ul>
    </div>
    <div class="footer-item">
      <h1>Siga</h1>
      <ul>
        <li>
          <i nz-icon nzType="facebook" nzTheme="outline"></i> Facebook
        </li>
        <li>
          <i nz-icon nzType="instagram" nzTheme="outline"></i> Instagram
        </li>
        <li>
          <i nz-icon nzType="twitter" nzTheme="outline"></i> Twitter
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">© 2020 MJV</div>
</div>