<app-page-header [title]="'Categorias'"></app-page-header>

<div class="app-content">
  <app-header-button [title]="'Categorias'" [buttons]="[{label: 'Adicionar Categoria'}]" (clickButton)="openModal()"></app-header-button>
  <nz-table #dataTable [nzData]="categoriesCollection$ | async">
    <thead>
    <tr>
      <th>#</th>
      <th>Título</th>
      <th>Categoria Pai</th>
      <th>Status</th>
      <th>Opções</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of dataTable.data">
      <tr>
        <td>{{ item?.id }}</td>
        <td>{{ item?.title }}</td>
        <td>{{ item?.category?.title }}</td>
        <td><nz-switch [(ngModel)]="item.status" [nzDisabled]="true"></nz-switch></td>
        <td>
          <a (click)="selectCategory(item)"><i nz-icon [nzType]="'edit'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#4479D8'"></i></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="confirmCategory(item)"><i nz-icon [nzType]="'delete'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#BB4D4D'"></i></a>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </nz-table>
</div>
